= form_for @user, :url => user_path, html: { class: "form form-horizontal user" } do |f|
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true
    = error_span(@user[:email])


    %p
    = f.label :role
    = f.select :role_ids, Role.all.collect {|x| [x.name, x.id]}, {}, :multiple => true

  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), user_index_path, :class => 'btn btn-default'
